<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.openvpn.vpn">



    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.openvpn.vpn.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.openvpn.vpn.Activities.Apps_Picker"></activity>
        <activity android:name="com.openvpn.vpn.Activities.Black_Battery_Saver" />
        <activity android:name="com.openvpn.vpn.Activities.Saving_Power_Comp" />
        <activity android:name="com.openvpn.vpn.Activities.UApplying" />
        <activity android:name="com.openvpn.vpn.Activities.NormalMode" />
        <activity android:name="com.openvpn.vpn.Activities.UPopUp" />
        <activity android:name="com.openvpn.vpn.Activities.PopUp_SavingPower" />
        <activity android:name="com.openvpn.vpn.Activities.BatteryActivity" />
        <activity android:name="com.openvpn.vpn.Activities.ScannerCPU" />
        <activity android:name="com.openvpn.vpn.Activities.CPUCoolerActivity" />
        <activity android:name="com.openvpn.vpn.Activities.SpeedBoosterActivity" />
        <activity android:name="com.openvpn.vpn.Activities.UnlockAllActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_appid" />

        <activity
            android:name="com.openvpn.vpn.Activities.IntroActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.openvpn.vpn.Activities.SplashScreen"
            android:theme="@style/Splashscreentheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.openvpn.vpn.Activities.Servers"
            android:parentActivityName="com.openvpn.vpn.Activities.MainActivity" />
        <activity android:name="com.openvpn.vpn.Activities.MainActivity" />
    </application>

</manifest>